<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<a href="/new_post/" class="nav-item">Make a New Post</a>
	<a href="/dashboard/" class="nav-item">Dashboard</a>
	<a href="/search/" class="nav-item">Search</a>
	<a href="/user/profile/" class="nav-item">Profile</a>
	<a href="/user/settings/" class="nav-item">Settings</a>

	<br/>
	<br/>

	<div class="user-container">
		<h2> <%= user.username %> </h2>
		<img src="<%= user.profile_pic %>" class="user-image"/>

		<br/>
		<span class="followers-container">
		<% user.followers.forEach((usr) =>{ %>
			<p class="usr-follower"> <%= usr %> </p>
		<% }) %>
		</span>

		<span class="following-container">
		<% user.following.forEach((usr) =>{ %>
			<p class="usr-follower"> <%= usr %> </p> <a href="/user/following/remove/<%= usr %>">Unfollow</a>
		<% }) %>
		</span>
	</div>

	<% posts.forEach((post) =>{ %>
	<hr/>
		<div class="post-container">
			<h2 class="post-title"> <%= post.title %> </h2>
			<a class="delete-post" href="/post/remove/5a24879de168717d0de87f0c">Delete this post</a>
			<img class="post-image" src="<%= post.image %>"  />
			<br/>
			<span class="tag-container">
				<% post.tags.forEach((tag) => { %>
					<a class="post-tag" href="/search/<%= tag %>"><%= tag %></a>
				<% }) %>
			</span>
		</div>
	<% }) %>

	<script type="text/javascript" src="/script.js"></script>
</body>
</html>

